<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>

<footer class="footer">

    <div class="left-div">
        <ul class="footer__nav">

            <li class="nav__item">
                <h2 class="nav__title">Company</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#" class="u-a">About</a>
                    </li>

                    <li>
                        <a href="#" class="u-a">Jobs</a>
                    </li>

                    <li>
                        <a href="#" class="u-a">For the Record</a>
                    </li>
                </ul>
            </li>
            <li class="nav__item">
                <h2 class="nav__title">Communities</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#" class="u-a">For Artists</a>
                    </li>

                    <li>
                        <a href="#" class="u-a">Developers</a>
                    </li>

                    <li>
                        <a href="#" class="u-a">Advertising</a>
                    </li>
                    <li>
                        <a href="#" class="u-a">Investors</a>
                    </li>
                    <li>
                        <a href="#" class="u-a">Vendors</a>
                    </li>
                </ul>
            </li>
            <li class="nav__item">
                <h2 class="nav__title">Useful Links</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#"  class="u-a">Support</a>
                    </li>

                    <li>
                        <a href="#" class="u-a">Free Mobile App</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
    <div class="right-div">
        <div class="i-div">
            <button class="i-btn"> <i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></button>
            <button class="i-btn"><i class="fa-brands fa-twitter fa-xl" style="color: #ffffff;"></i></button>
            <button class="i-btn"><i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i></button>
        </div>
    </div>


    <div class="lower-l-div">
        <hr>
        <br>
       <pre><a href="#" class="l-a">Legal</a>  <a href="#"  class="l-a">PrivacyCenter</a>  <a href="#"  class="l-a">PrivacyPolicy</a>  <a href="#"  class="l-a">Cookies</a>  <a href="#"  class="l-a">AboutAds</a></pre>

    </div>
    <div class="lower-r-div">
        <hr>
        <br>
        <pre style="color: #999; font-size: 15px;">&copy; 2023 Spotify AB.  </pre>
    </div>
</footer>