<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<div class="main">
    <div class="cover-picture">
        <div>
            <img src="assets/img/TammallyMaak.jpg" alt="" class="profile-picture">

        </div>

    </div>

    <div class="song-details">
        <p>song</p>
        <h1 class="song-name">Tamally Maak</h1>
        <div>
            <p class="song-artist">Amr Diab &nbsp;</p>
            <p style="float: left;">. &nbsp;</p>
            <p class="song-date">2000 &nbsp; </p>
            <p style="float: left;">. &nbsp;</p>
            <p class="song-time">4.25</p>
        </div>

    </div>


    <div class="song-icons">
        <br>
        <br>
        &nbsp;
        &nbsp;
        &nbsp;
        <i class="fa-sharp fa-solid fa-circle-play fa-2xl " style="color: #309f3d;">&nbsp; &nbsp;</i>
        <i class="fa-regular fa-heart fa-2xl" style="color: #ffffff;">&nbsp; &nbsp;</i>
        <i class="fa-solid fa-ellipsis fa-2xl" style="color: #ffffff;"></i>
    </div>
    <br>
    <div>
        <div style="color: white; font-size: 30px; width: 520px;">
            &nbsp; &nbsp; &nbsp;Lyrics
        </div>


        <div>


            <pre class="song-lyrics">
    تملي معاك

    ولو حتى بعيد عني في قلبي هواك
        
    تملي معاك
        
    تملي في بالي وفي قلبي ولا بنساك
        
    تملي واحشني لو حتى بكون وياك
        
    تملي معاك
        
    ولو حتى بعيد عني في قلبي هواك
        
    تملي معاك
        
    تملي في بالي وفي قلبي ولا بنساك
        
    تملي واحشني لو حتى بكون وياك
        
    تملي حبيبي بشتاقلك
        
    تملي عنيا تندهلك
        
    ولو حواليا كل الكون
        
    بكون يا حبيبي محتاجلك
        
    تملي حبيبي بشتاقلك
        
    تملي عنيا تندهلك
        
    ولو حواليا كل الكون
        
    بكون يا حبيبي محتاجلك
        
    تملي معاك
        
    معاك قلبي
        
    معاك روحي يا أغلى حبيب
        
    يا أغلى حبيب
        
    ومهما تكون بعيد عني لقلبي قريب
        
    يا عمرى الجاي والحاضر
        
    يا احلى نصيب
        
    تملي معاك (معاك)
        
    معاك قلبي
        
    معاك عمري يا أغلى حبيب
        
    يا أغلى حبيب
        
    ومهما تكون بعيد عني لقلبي قريب
        
    آه، يا عمرى الجاي والحاضر
        
    يا احلى نصيب
        
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون
    
    بكون يا حبيبي محتاجلك
    
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون
    
    بكون يا حبيبي محتاجلك
    
    ♪
    
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون
    
    بكون يا حبيبي محتاجلك
    
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون
    
    بكون يا حبيبي محتاجلك
    
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون
    
    بكون يا حبيبي محتاجلك
    
    تملي حبيبي بشتاقلك
    
    تملي عنيا تندهلك
    
    ولو حواليا كل الكون 
        
        </pre>
        </div>
     
    </div>


</div>