<div class="w-75 mx-auto py-5">
  <h2 class="my-4">Complete Your Register Now!</h2>

  <div *ngIf="error" class="alert alert-danger m-2">
      {{error}}
  </div>



  <form [formGroup]='registerForm' (ngSubmit)="submitRegisterForm(registerForm)">


    <!-- <label for="my-select">Select an option:</label>
    <select id="my-select" formControlName="role" required>
      <option id="admin">Admin</option>
      <option id="artist">Artist</option>
      <option id="listener">Listener</option>
    </select> -->

      <div>
          <label for="applicationUserId">applicationUserId :</label>
          <input class="form-control" type="hidden" formControlName="applicationUserId">
          <div *ngIf="registerForm.get('applicationUserId')?.errors != null
          && registerForm.get('applicationUserId')?.touched"
          class="alert mt-2 alert-danger">
              <p *ngIf="registerForm.get('applicationUserId')?.errors?.['required']">applicationUserId is required!</p>
          </div>
      </div>



      <div>
          <label for="bio">Bio :</label>
          <input class="form-control" type="text" formControlName="bio">
          <div *ngIf="registerForm.get('bio')?.errors != null
          && registerForm.get('bio')?.touched"
           class="alert mt-2 alert-danger">
              <p *ngIf="registerForm.get('bio')?.errors?.['required']">bio is required!</p>
          </div>
      </div>


      <div>
        <!-- <label for="bio">Bio :</label> -->
        <input class="form-control" type="hidden" [value]="Id" formControlName="applicationUserId">
        <div *ngIf="registerForm.get('applicationUserId')?.errors != null
        && registerForm.get('applicationUserId')?.touched"
         class="alert mt-2 alert-danger">
            <p *ngIf="registerForm.get('applicationUserId')?.errors?.['required']">
              bio is required!</p>
        </div>
      </div>


      <div>
        <!-- <label for="bio">Bio :</label> -->
        <input class="form-control" type="hidden" [value]="fname" formControlName="firstName">
        <div *ngIf="registerForm.get('firstName')?.errors != null
        && registerForm.get('firstName')?.touched"
         class="alert mt-2 alert-danger">
            <p *ngIf="registerForm.get('firstName')?.errors?.['required']">
              bio is required!</p>
        </div>
      </div>

      <div>
        <!-- <label for="bio">Bio :</label> -->
        <input class="form-control" type="hidden" [value]="lname" formControlName="lastName">
        <div *ngIf="registerForm.get('lastName')?.errors != null
        && registerForm.get('lastName')?.touched"
         class="alert mt-2 alert-danger">
            <p *ngIf="registerForm.get('lastName')?.errors?.['required']">
              bio is required!</p>
        </div>
      </div>


      <div>
        <!-- <label for="bio">Bio :</label> -->
        <input class="form-control" type="hidden" [value]="img" formControlName="image">
        <div *ngIf="registerForm.get('image')?.errors != null
        && registerForm.get('image')?.touched"
         class="alert mt-2 alert-danger">
            <p *ngIf="registerForm.get('image')?.errors?.['required']">
              bio is required!</p>
        </div>
      </div>

      <button [disabled]="registerForm.invalid" type="submit" class="mt-3 btn btn-info">Register</button>


  </form>

</div>
