<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>

<section class="h-100 gradient-form">
    <div class="py-5 cont ">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-xl-4">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div>
                <div class="card-body p-md-5 mx-md-4">

                  <div class="text-center">
                    <img src="/assets/Spotify.jpg" style="width: 185px;" alt="logo">
                    <h4 class="mt-1 mb-5 pb-1"> Music for everyone</h4>
                  </div>

                  <form [formGroup]='LoginForm' (ngSubmit)="submitLoginForm(LoginForm)">


                    <div class="form-outline mb-4">
                      <label for="UserName">UserName </label>
                      <input class="form-control" type="text" formControlName="UserName">
                      <div *ngIf="LoginForm.get('UserName')?.errors != null
                        && LoginForm.get('UserName')?.touched" class="alert mt-2 alert-danger">
                        <p *ngIf="LoginForm.get('UserName')?.errors?.['required']">UserName is required!</p>
                        <p *ngIf="LoginForm.get('UserName')?.errors?.['minLength']">UserName minLength is 3!</p>
                        <p *ngIf="LoginForm.get('UserName')?.errors?.['maxLength']">UserName maxLength is 8!</p>
                      </div>
                    </div>





                    <div class="form-outline mb-4">
                      <label for="Password">Password </label>
                      <input class="form-control" type="password" formControlName="Password">
                      <div *ngIf="LoginForm.get('Password')?.errors != null
                      && LoginForm.get('Password')?.touched" class="alert mt-2 alert-danger">
                        <p *ngIf="LoginForm.get('Password')?.errors?.['required']">Password is required!</p>
                        <!-- <p *ngIf="LoginForm.get('Password')?.errors?.['pattern']">Password invalid!</p> -->
                      </div>
                    </div>


  <div class="text-center pt-1 mb-5 pb-1">
    <button [disabled]="LoginForm.invalid" type="submit" class="btn btn-outline-success">LogIn</button>
  </div>


  <div class="text-center">
    <button class="btn btn-outline-success" (click)="register()"> Register</button>
  </div>


                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
