


.div1{
  background-color: rgb(87, 87, 87);
  height: 20rem;
  color: white;
}

.album-img{
  width: 190px;
  height: 190px;
  
}

.album-data{
  background: linear-gradient(#4c4c4c, black);
  }
  .album{
    padding-top: 15rem;
    margin-left: 2rem;
  }
