<div class="sidebar" [class.sidebar-close]="!openSidebar">
    <div class="logo-details">
      <div class="logo font-weight-bold "><i class="fa-brands fa-spotify"></i> Spotify</div>
</div>
    <ul class="nav-links" id="nav-links">
      <li *ngFor="let item of menuSidebar" #itemEl routerLinkActive="active">
        
          <a [routerLink]="[item.link]">
          <img [src]="item.icon" >
            <!-- <i [class]="item.icon"></i> -->
            <span class="link_name">{{item.link_name}}</span>
            
        </a><br><br>
      </li>
    </ul>
  </div>
