@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body
{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #000000 !important;
    color: #fff !important;
    
}

a
{
    text-decoration: none !important;
    color: #fff !important;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
