<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<div class="main">
    <div>
        <p class="good-morning"><b>Good Morning</b></p>
    </div>
    <div class="first">
        <br>
        <br>
        <h1 style="color: white; margin:0px 0px -2px 20px; "><b>Recently Played Songs</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="first">
        <br>
        <br>
        <h1 style="color: white; margin:0px 0px -2px 20px; "><b>Recently Played Songs</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="second">
        <h1 style="color: white; margin: 50px 0px -2px 20px; "><b>Recently Played Playlists</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h1 style="color: white; margin: 50px 0px -2px 20px; "><b>Featured charts</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h1 style="color: white; margin: 50px 0px -2px 20px; "><b>Recently played song</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div>
        <h1 style="color: white; margin: 50px 0px -2px 20px; "><b>Recently played song</b></h1>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>

        <div class="card">
            <img src="assets/img/rabbit.jpg" alt="">
            <i class="fa-sharp fa-solid fa-circle-play fa-2xl  icona">&nbsp; &nbsp;</i>
            <h4 class="song-name">gggggg</h4>
            <p class="artist-name">wojogjwpmomogpmo</p>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>

</div>